body {
    font-family: Arial, sans-serif;
    padding: 10px;
    /* font-size: 85%; */
}
.search-box {
    width: 100%;
    /* margin-bottom: 10px; */
    height: 38px;
    border-radius: 14px;
    padding: 0px 12px;
    font-size: 18px;
    border: none;
    box-sizing: border-box;
    /* background: lightgray; */
    outline: none;
    border-bottom: 1px solid lightsteelblue;
    border-radius: 0;
    /* margin-bottom: 8px; */
}
.suggestions {
    max-height: 320px;
    overflow-y: auto;
    animation: fadeIn 0.5s ease;
    scroll-behavior: smooth;
    margin: 0;
    padding: 12px;
    list-style: none;
}
.suggestion-item {
    padding: 5px;
    cursor: pointer;
    padding: 12px;
    border-bottom: 0.5px solid #ccc;

    transform: translateY(20px); /* Initial state for smooth slide-in */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.suggestion-item.show {
    opacity: 1;
    transform: translateY(0);
}
.suggestion-item:hover {
    background-color: lightblue;
    /* font-weight: 600; */
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card {
    background: lightgray;
    padding: 32px 18px;
}
.search-container {
    width: 100%;
    background: white;
    min-height: calc(70vh);
    border-radius: 4px;

    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* padding: 12px; */
    /* opacity: 0; */
}
.search-overlay {
    /* width: 400px; */
    /* background: lightblue; */
    /* border: 1px solid black; */
    padding: 12px 24px;
    /* height: 400px; */
    border-radius: 12px;
    width: clamp(400px, 60%, 1000px);
    box-shadow: 2px 5px 43px 0 rgba(138, 164, 181, 0.28);
    transition: all 0.3s ease;
    margin-top: 8px;
    position: relative;
}
ul {
    /* list-style: none; */
}
/* li {
    margin: 24px;
    border-bottom: 0.5px solid #ccc;
} */
.btn-container {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 20px;
    color: teal;
}
.fa {
    margin-left: 12px;
}
.fa:hover {
    /* margin-left: 4px; */
    cursor: pointer;
    scale: 1.2;
}

.relative {
    position: relative;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 4px 8px;
}
